#wrapper
  #doors
    
    .left
      h2(ng-show="activeBeer") {{activeBeer.name}}
      p(ng-hide="activeBeer") 
        input(ng-model="beerFind" placeholder="What Are You Drinking?")
        button Search
        ul(ng-if="beersList" class="selectBeers" ng-hide="activeBeer")
          li(ng-repeat="beer in beersList" ng-click="matchBeer(beer)") {{beer.name}}
    .right
      h2(ng-show="activeMovie") {{activeMovie.Title}}
      p(ng-hide="activeMovie") 
        input(ng-model="movieFind" placeholder="What Are You Watching?")
        button Search
        ul(ng-if="flixList" class="selectBeers" ng-hide="activeMovie")
          li(ng-repeat="movie in flixList" ng-click="matchMovie(movie)") {{movie.Title}}
    .pair(ng-show="activeMovie && activeBeer")
      button(ng-click="makePair(activeBeer, activeMovie)" value="Create Match") Create Pair
      button(ng-click="clearPair()" value="Create Match") X
    .enter(ng-click="enter()")
      h1 Show Me Some Pairings! &raquo;  
  p.input-group
    
    form(ng-submit='movieSearch(newThing)')
        input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
        span.input-group-btn
          button.btn.btn-primary(type='submit', ng-click='movieSearch(newThing)') Search!
  a.close(ng-click="close()") CLOSE
  .beers(ng-if="activeBeer") 
    h2 {{activeBeer.name}}
    img(ng-if="activeBeer.labels.large", ng-src="{{activeBeer.labels.large}}" class="label") 
    p {{activeBeer.description}}
    h3(ng-if="activeBeer.pairs") Also Paired With:
    .thumbs(ng-repeat="pair in activeBeer.pairs") 
      h3 {{pair.Title}}
      img(ng-src="{{pair.Poster}}")

  .movie(ng-if="activeMovie")
    h2 {{activeMovie.Title}}
    img(ng-if="activeMovie.Poster", ng-src="{{activeMovie.Poster}}" class="poster")
    p {{activeMovie.Plot}}
  .pairs(class="hidden")
    h1 Recent Pairings
    ul
      li(ng-repeat="pair in pairs" ng-if="pair.movieObject.Poster != 'N/A'")
        img(ng-if="pair.movieObject.Poster", ng-src="{{pair.movieObject.Poster}}" class="poster" ng-click="activePair(pair, pair.movieObject)")
        span {{pair.name}} / {{pair.movieObject.Title}} 



